{% extends 'base.html' %}

{% block extra_styles %}

<style>

table {
  width:100%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}
tr:nth-child(even) {
  background-color: #eee;
}

th {
  background-color: black;
  color: white;
}

</style>

{% endblock extra_styles %}

{% block main_content %}

<table>

    <tr>
        <th>ID</th>
        <th>email_from</th>
        <th>subject</th>
        <th>message</th>
        <th>created</th>
    </tr>

    <tr>
        <td>{{ object.id }}</td>
        <td>{{ object.email_from }}</td>
        <td>{{ object.subject }}</td>
        <td>{{ object.message }}</td>
        <td>{{ object.created }}</td>
    </tr>

</table>

<p>
    <a href="{% url 'currency:contactus-list' %}">Back to List</a>
</p>

{% endblock main_content %}
