{% extends 'base.html' %}

{% block style_for_table %}

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}


</style>
{% endblock style_for_table %}

{% block main_content %}

<h2>
    <a href="{% url 'currency:contact-us-create' %}">Create ContactUS</a>
</h2>

<table>
    <tr>
        <th>ID</th>
        <th>email_from</th>
        <th>subject</th>
        <th>message</th>
        <th>created</th>
        <th>details</th>

    </tr>
    {% for contactus in object_list %}
    <tr>
        <td>{{ contactus.id }}</td>
        <td>{{ contactus.email_from }}</td>
        <td>{{ contactus.subject }}</td>
        <td>{{ contactus.message }}</td>
        <td>{{ contactus.created }}</td>
        <td><a href="{% url 'currency:contactus-details' contactus.id %}">Details</a></td>
    </tr>
    {% endfor %}
</table>

{% endblock main_content %}
