{% extends 'base.html' %}


{% block main_content %}
<!--    <a href="/currency/rate/list/">Rate List</a>-->

<div class="container">
  <div class="row">
    <div class="col">
      1 of 3
    </div>
    <div class="col-8">
      2 of 3 (wider)
    </div>
    <div class="col">
      3 of 3
    </div>
  </div>
  <div class="row">
    <div class="col">
      1 of 3
    </div>
    <div class="col-5">
      2 of 3 (wider)
    </div>
    <div class="col">
      3 of 3
    </div>
  </div>
</div>

<h2>
    <p>
        <a href="{% url 'currency:hello-world' %}">Hello from Class</a>
    </p>
    <p>
        <a href="{% url 'currency:gen-pass' %}">Gen Pass from utils</a>
    </p>
    <p>
        <a href="{% url 'currency:rate-list' %}">Rate List</a>
    </p>
    <p>
        <a href="{% url 'currency:bank-list' %}">Bank List</a>
    </p>
    <p>
        <a href="{% url 'currency:contactus-list' %}">Contact Us List</a>
    </p>
</h2>

{% endblock main_content %}
