{% extends 'base.html' %}

{% block style_for_table %}

<style>
table {
  width:100%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}
tr:nth-child(even) {
  background-color: #eee;
}

th {
  background-color: black;
  color: white;
}


</style>

{% endblock style_for_table %}

{% block main_content %}

<table>
    <tr>
        <th>ID</th>
        <th>CURRENCY</th>
        <th>BUY</th>
        <th>SALE</th>
        <th>DATE AND TIME OF CREATION</th>
        <th>SOURCE</th>
    </tr>
    <tr>
        <td>{{ object.id }}</td>
        <td>{{ object.type_curr }}</td>
        <td>{{ object.buy }}</td>
        <td>{{ object.sale }}</td>
        <td>{{ object.created }}</td>
        <td>{{ object.source }}</td>
    </tr>

</table>

<p>
    <a href="{% url 'currency:rate-list' %}">Back to List</a>
</p>


<!--{% if object %}-->

<!--{% else %}-->
<!--<p>No objects found</p>-->
<!--{%endif%}-->

{# comments #}


{% endblock main_content %}
