{% extends 'base.html' %}
{% load pagination %}

{% block main_content %}

<a href="{% url 'currency:rate-create' %}">Create Rate</a>

    <form method="get">
        {{ filter.form.as_p }}
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-search"></span> Apply Filters
        </button>
    </form>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">CURRENCY</th>
                <th scope="col">BUY</th>
                <th scope="col">SALE</th>
                <th scope="col">DATE AND TIME OF CREATION</th>
                <th scope="col">SOURCE</th>
                <th scope="col">DETAILS</th>
                {% if request.user.is_superuser %}
                <th scope="col">EDIT</th>
                {% endif %}
            </tr>
        </thead>
        {% for rate in object_list %}
        <tbody class="table table-striped">
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ rate.id }}</td>
                <!--        <td>{{ rate.type_curr }}</td>-->
                <td>{{ rate.get_type_curr_display }}</td>
                <td>{{ rate.buy }}</td>
                <td>{{ rate.sale }}</td>
                <td>{{ rate.created }}</td>
                <td>{{ rate.bank.name }}</td>
                <td><a class="btn btn-info" href="{% url 'currency:rate-details' rate.id %}" role="button">Details</a></td>
                <!--                <button type="button" class="btn btn-info" href="{% url 'currency:rate-details' rate.id %}">Details</button>-->
                {% if request.user.is_superuser %}
                <td><a class="btn btn-warning" href="{% url 'currency:rate-update' rate.id %}" role="button">Edit</a></td>
                {% endif %}
                <!--        <td><a href="/currency/rate/update/{{ rate.id }}/">Edit</a></td>-->
            </tr>
        </tbody>
        {% endfor %}
    </table>
<!--django basic pagination-->
<!--<div class="pagination">-->
<!--    <span class="step-links">-->
<!--        {% if page_obj.has_previous %}-->
<!--            <a href="?page=1">&laquo; first</a>-->
<!--            <a href="?page={{ page_obj.previous_page_number }}">previous</a>-->
<!--        {% endif %}-->

<!--        <span class="current">-->
<!--            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.-->
<!--        </span>-->

<!--        {% if page_obj.has_next %}-->
<!--            <a href="?page={{ page_obj.next_page_number }}">next</a>-->
<!--            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>-->
<!--        {% endif %}-->
<!--    </span>-->
<!--</div>-->

<!--pagination for limited number of pages-->
<!--  <ul class="pagination">-->
<!--    {% if users.has_previous %}-->
<!--      <li><a href="?page={{ users.previous_page_number }}">&laquo;</a></li>-->
<!--    {% else %}-->
<!--      <li class="disabled"><span>&laquo;</span></li>-->
<!--    {% endif %}-->
<!--    {% for i in users.paginator.page_range %}-->
<!--      {% if users.number == i %}-->
<!--        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>-->
<!--      {% else %}-->
<!--        <li><a href="?page={{ i }}">{{ i }}</a></li>-->
<!--      {% endif %}-->
<!--    {% endfor %}-->
<!--    {% if users.has_next %}-->
<!--      <li><a href="?page={{ users.next_page_number }}">&raquo;</a></li>-->
<!--    {% else %}-->
<!--      <li class="disabled"><span>&raquo;</span></li>-->
<!--    {% endif %}-->
<!--  </ul>-->

    {% if is_paginated %}
        {% pagination page_obj %}
    {% endif %}


{% endblock main_content %}
