{% extends 'base.html' %}

{% block extra_styles %}

<style>
button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #008CBA;
}

</style>

{% endblock extra_styles %}

{% block main_content %}


<form method="post">
    {% csrf_token %}
    <h2>
        {{ form.as_p }}
    </h2>
    <button type="submit">Create Rate</button>
    <!--  <input type="number" name="age">-->
    <!--  <input type="text" name="name">-->
</form>

{% endblock main_content %}
