{% extends 'base.html' %}

{% block extra_styles %}


<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

</style>

{% endblock extra_styles %}

{% block main_content %}

<a href="{% url 'currency:rate-create' %}">Create Rate</a>

<table>
    <tr>
        <th>ID</th>
        <th>CURRENCY</th>
        <th>BUY</th>
        <th>SALE</th>
        <th>DATE AND TIME OF CREATION</th>
        <th>SOURCE</th>
        <th>DETAILS</th>
        {% if request.user.is_superuser %}
        <th>EDIT</th>
        {% endif %}
    </tr>
    {% for rate in object_list %}
    <tr>
        <td>{{ rate.id }}</td>
<!--        <td>{{ rate.type_curr }}</td>-->
        <td>{{ rate.get_type_curr_display }}</td>
        <td>{{ rate.buy }}</td>
        <td>{{ rate.sale }}</td>
        <td>{{ rate.created }}</td>
        <td>{{ rate.bank.name }}</td>
        <td><a href="{% url 'currency:rate-details' rate.id %}">Details</a></td>
        {% if request.user.is_superuser %}
        <td><a href="{% url 'currency:rate-update' rate.id %}">Edit</a></td>
        {% endif %}
<!--        <td><a href="/currency/rate/update/{{ rate.id }}/">Edit</a></td>-->
    </tr>
    {% endfor %}
</table>

{% endblock main_content %}
