{% extends 'base.html' %}

{% block main_content %}
                    <div class="image-container">
                        <img class="img-fluid rounded-circle" src="{{ request.user.get_avatar_url }}" width="250px">
                    </div> <!-- end of image-container -->


Update My Profile
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
</form>

<p><a href="{% url 'password_change' %}">Change Password</a></p>


{% endblock main_content %}
<!--                        <img class="img-fluid" src="{{ request.user.avatar.url }}">-->