{% extends 'base.html' %}

{% block main_content %}

{% load crispy_forms_tags %}
        <div class="container">
                                <div class="image-container col-lg-4">
                        <img class="img-fluid rounded-circle" src="{{ request.user.get_avatar_url }}" width="250px">
                    </div> <!-- end of image-container -->
  <p class='text-center'>Update My Profile</p>

<form method="post" enctype="multipart/form-data" >
    {% csrf_token %}
    <div class="form-group col-lg-6">
    {{ form | crispy }}
    </div>
    <button type="submit">Save</button>
</form>
<br>
<p><a class="btn btn-primary" href="{% url 'password_change' %}">Change Password</a></p>
        </div>

{% endblock main_content %}
<!--                        <img class="img-fluid" src="{{ request.user.avatar.url }}">-->